@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes box-animation {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  max-width: 100%;
  margin: 0 auto;
}

p {
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

img {
  object-fit: cover;
  background-size: cover;
}

header {
  display: block;
  position: relative;
  border: solid 1px black;
}

header figure {
  display: flex;
  justify-content: center;
  margin: 0px 0 0 0;
  width: 100%;
  padding-bottom: 13px;
  padding-top: 23px;
}

.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 24px;
}

header img {
  width: 164px;
}

.imgResto {
  margin: 0;
}

.imgResto img {
  position: absolute;
  top: 66px;
  width: 100%;
  height: 260px;
  z-index: 1;
}

.menu {
  position: absolute;
  top: 284px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  z-index: 2;
}

.menu .menu-title {
  margin-left: 4.8%;
  font-size: 30px;
  font-weight: 500;
  font-family: "Shrikhand";
}

.card {
  display: flex;
  justify-content: space-between;
  width: 93.06%;
  height: 68px;
  background-color: white;
  margin-left: 3.47%;
  margin-bottom: 16px;
  box-shadow: 0px 5px 10px #dedddd;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  animation: box-animation;
}
.card1 {
  animation: box-animation 1s 200ms;
  animation-fill-mode: both;
}
.card2 {
  animation: box-animation 1s 400ms;
  animation-fill-mode: both;
}
.card3 {
  animation: box-animation 1s 600ms;
  animation-fill-mode: both;
}
.card4 {
  animation: box-animation 1s 800ms;
  animation-fill-mode: both;
}
.card:hover + .fa-circle-check > .fa-circle-check_slidein {
  animation: slidein 4s;
}

.card-text {
  max-width: 66.66%;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-valid {
  display: flex;
  align-items: flex-end;
}

.card-price {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 23px 12px 0px;
}

.fa-circle-check {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  color: white;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
}
.fa-circle-check__slidein {
  animation: both;
  animation: slidein 1s;
}
.fa-circle-check__slidein ::before {
  animation: rotate 5s;
}

.check {
  height: 100%;
}

.menu .box-title {
  font-size: 16px;
  padding-bottom: 5px;
  margin-left: 4.8%;
  margin-bottom: 15px;
  border-bottom: solid #99e2d0;
  width: 40px;
}

.card-title,
.card-text p {
  margin: 0px 0px 0px 2.93%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-title {
  font-size: 17px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(176deg, #ff79da, #9356dc 78px);
  border-radius: 25px;
  margin: 50px auto 57px auto;
  width: 49.6%;
  height: 50px;
  border: unset;
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px grey;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 20px grey;
  transform: scale(1.1);
}

.command {
  color: white;
}

footer {
  position: absolute;
  font-family: "Shrikhand";
  background-color: #353535;
}

footer p,
footer i,
footer h1 {
  color: white;
  font-size: 16px;
}

footer a {
  display: flex;
  margin-bottom: 8px;
}

footer h1 {
  font-size: 18px;
  font-weight: unset;
  padding: 22px 0px 5px 2.93%;
  margin: 0;
  font-weight: lighter;
}

footer p {
  font-weight: 400;
}

footer ul {
  list-style-type: none;
  padding-bottom: 26px;
  padding-left: 2.93%;
  font-family: "Roboto";
  margin: 16px 0 0px 0px;
}

footer i {
  font-size: 11px;
  padding: 5px 11px 0px 0px;
}

.fa-utensils {
  font-size: 11px;
  padding: 5px 13px 0px 2px;
}

/*# sourceMappingURL=restaurants.css.map */
