*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

footer {
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  font-family: "Roboto";
}

@keyframes fill {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes box-animation {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bg-load {
  0% {
    background-color: rgba(192, 192, 192, 0.7);
    transform: scale(100%);
  }
  90% {
    background-color: rgba(192, 192, 192, 0.7);
    transform: scale(100%);
  }
  100% {
    background-color: rgba(192, 192, 192, 0.7);
    transform: scale(0%);
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(0);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #99E2D0;
    border-right-color: #99E2D0;
    box-shadow: 0px 0px 1000px #9356DC;
  }
  33% {
    transform: rotate(360deg) scale(1);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
    border-left-color: #FF79DA;
    border-right-color: #FF79DA;
    box-shadow: 0px 0px 1000px #9356DC;
  }
  66% {
    transform: rotate(720deg) scale(-1.2);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
    border-left-color: #FF79DA;
    border-right-color: #FF79DA;
    box-shadow: 0px 0px 1000px #FF79DA;
  }
  100% {
    transform: rotate(1040deg) scale(0);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #99E2D0;
    border-right-color: #99E2D0;
  }
}
@keyframes btn-transformation {
  from {
    opacity: 1;
    box-shadow: 0px 0px 10px grey;
    transform: scale(1);
  }
  to {
    opacity: 0.8;
    box-shadow: 0px 0px 20px grey;
    transform: scale(1.1);
  }
}
body {
  max-width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

a:visited,
a,
p,
h1,
h2,
h3 {
  color: black;
}

p {
  font-size: 16px;
  margin: 0;
}

header {
  display: block;
  position: relative;
}
header figure {
  display: flex;
  justify-content: center;
  margin: 0px 0 0 0;
  width: 100%;
  padding-bottom: 13px;
  padding-top: 23px;
}
header img {
  width: 164px;
}
header p {
  font-size: 17px;
  font-weight: 500;
}

.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 24px;
}

.heartcase {
  position: relative;
  margin-right: 4.8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  position: relative;
  margin-top: 8px;
  margin-right: 9.6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-empt {
  position: absolute;
  font-size: 22px;
}
.heart-full {
  position: absolute;
  font-size: 22px;
  color: transparent;
  z-index: 1;
  opacity: 0;
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.heart-full:hover {
  opacity: 1;
  animation: fill 0.4s;
}

.divEmpty {
  height: 84px;
}

.footer--height {
  margin-top: 1350px;
}

footer {
  width: 100%;
  position: absolute;
  background-color: #353535;
}
footer h3 {
  color: white;
  font-size: 16px;
  font-size: 18px;
  font-weight: unset;
  padding: 22px 0px 5px 6.66%;
  margin: 0;
  font-weight: lighter;
}
footer p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
footer i {
  color: white;
  font-size: 16px;
  font-size: 11px;
  padding: 5px 11px 0px 0px;
}
footer a {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
}
footer ul {
  list-style-type: none;
  padding-bottom: 26px;
  padding-left: 6.66%;
  margin: 16px 0 0px 0px;
}

.fa-utensils {
  font-size: 11px;
  padding: 5px 13px 0px 2px;
}

.btnExplor {
  margin: 32px auto 57px auto;
  width: 58.13%;
  height: 50px;
  border-radius: 25px;
  border: 1px transparent;
  transition: all 200ms ease-in;
  background: linear-gradient(176deg, #ff79da, #9356dc 78px);
  border-radius: 25px;
  opacity: 1;
  box-shadow: 2px 5px 10px rgb(202, 202, 202);
  cursor: pointer;
}
.btnExplor__text {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.btnExplor:hover {
  opacity: 0.8;
  box-shadow: 2px 10px 20px rgb(105, 105, 105);
  transform: scale(1.1);
  transition: all 200ms ease-out;
}

.btnFonction {
  position: relative;
  display: flex;
  align-items: center;
  margin: 12px 0 12px 0px;
  border: transparent;
  width: 100%;
  height: 74px;
  background-color: #f6f6f6;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 2px 5px 10px rgb(202, 202, 202);
  transition: all 200ms ease-in;
}
.btnFonction:hover {
  box-shadow: 2px 10px 20px rgb(105, 105, 105);
  background-color: #f5edff;
}
.btnFonction__num1, .btnFonction__num2, .btnFonction__num3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  background-color: #9356DC;
}
.btnFonction__text {
  padding: 0px 0px 0px 16.53%;
  font-size: 16px;
  font-weight: 600;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  position: absolute;
  font-size: 18px;
  margin: auto;
  padding: 30px 89.3% 30px 7.5%;
  width: 20px;
  color: #7e7e7e;
}
.fa-mobile-screen-button:hover,
.fa-list-ul:hover,
.fa-store:hover {
  color: #9356DC;
}

.fa-mobile-screen-button {
  padding-left: 8.1%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(176deg, #ff79da, #9356dc 78px);
  border-radius: 25px;
  margin: 50px auto 57px auto;
  width: 49.6%;
  height: 50px;
  border: unset;
  box-shadow: 0px 0px 10px grey;
  cursor: pointer;
}
.btn:hover {
  animation: btn-transformation 400ms ease-in-out;
  animation-fill-mode: both;
}
.btn__command {
  color: white;
  font-size: 16px;
}

.load {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-animation: bg-load 3s forwards;
  animation: bg-load 3s forwards;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 5px ridge transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: transparent;
  -webkit-animation: chargeur 2s ease-in-out;
  animation: chargeur 2s ease-in-out;
}
.loader-pos1 {
  animation-delay: 100ms;
}
.loader-pos2 {
  animation-delay: 200ms;
}
.loader-pos3 {
  animation-delay: 300ms;
}
.loader-pos4 {
  animation-delay: 400ms;
}

.location {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background: linear-gradient(rgb(210, 210, 210) 1px, #eaeaea 5px);
}

.fa-location-dot {
  position: absolute;
  margin-right: 150px;
  top: 11px;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
}

.secExplor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
}
.secExplor h1 {
  width: 62.5%;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin: 38px auto 12px auto;
}
.secExplor p {
  font-size: 18px;
  font-weight: 400;
  width: 81.6%;
  text-align: center;
  margin: 0px auto 0px;
}

.secFonction__title {
  font-size: 24px;
  font-size: 900;
  margin: 46px 0px 18px 5.33%;
}

.boxFonction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 5.33% 56px 5.33%;
}

.secCards {
  background-color: #f6f6f6;
  width: 100%;
  height: 1200px;
}
.secCards a {
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-shadow: 2px 5px 10px rgb(202, 202, 202);
  margin: 0px 5.33% 18px 5.33%;
  border-radius: 25px;
  height: 251px;
  transition: all 200ms ease-out;
}
.secCards a:hover {
  box-shadow: 2px 10px 20px rgb(105, 105, 105);
  transition: all 200ms ease-out;
}
.secCards h2 {
  font-size: 24px;
  padding: 56px 0 24px 5.33%;
  margin-top: unset;
  margin-bottom: unset;
}

.cardHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 251px;
  background-color: unset;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 18px;
}
.cardHome__image {
  margin: 0;
  height: 174px;
}
.cardHome img {
  margin: 0;
  width: 100%;
  object-fit: cover;
  height: 174px;
  background-position: 4px 10px;
  border-radius: 15px 15px 0px 0px;
}
.cardHome__title {
  font-size: 18px;
  margin: 16px 0 0 14px;
}
.cardHome__text {
  font-size: 18px;
  margin: 3px 0 16px 14px;
}
.cardHome__footer {
  display: flex;
  justify-content: space-between;
}

.news {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-right: 13px;
  width: 81px;
  height: 29px;
  background: #99E2D0;
  z-index: 2;
  border-radius: 3px;
}
.news-text {
  font-size: 14px;
  font-weight: 800;
  color: #008766;
}

.imgResto {
  width: 100%;
  margin: 0;
}
.imgResto img {
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 100%;
  height: 260px;
  z-index: 1;
}

.menu {
  position: absolute;
  top: 284px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  z-index: 2;
}
.menu .menu-title {
  margin-left: 4.8%;
  font-size: 30px;
  font-weight: 500;
  font-family: "Shrikhand";
}

.title-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4.8%;
  margin-right: 4.8%;
}

.fa-circle-check {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  transition: all 1s;
}

.box-title {
  font-size: 16px;
  padding-bottom: 5px;
  margin-left: 4.8%;
  margin-bottom: 15px;
  border-bottom: solid #99e2d0;
  width: 40px;
}

.card {
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93.06%;
  height: 68px;
  background-color: white;
  margin-left: 3.47%;
  margin-bottom: 16px;
  box-shadow: 0px 5px 10px #bdbdbd;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: all 1s;
}
.card__delay1 {
  animation: box-animation 1s 200ms;
  animation-fill-mode: both;
}
.card__delay2 {
  animation: box-animation 1s 400ms;
  animation-fill-mode: both;
}
.card__delay3 {
  animation: box-animation 1s 600ms;
  animation-fill-mode: both;
}
.card__delay4 {
  animation: box-animation 1s 800ms;
  animation-fill-mode: both;
}
.card:hover {
  box-shadow: 0px 5px 10px #4d4d4d;
}
.card:hover .check {
  margin-right: 0;
}
.card:hover .fa-circle-check {
  transform: rotate(360deg);
}
.card-text {
  min-width: 72.95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-valid {
  display: flex;
  align-items: flex-end;
}

.price {
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  margin: 0px 12px 0px 0px;
}

.check {
  overflow: hidden;
  height: 100%;
  width: 60px;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  height: 100%;
  margin-right: -60px;
  transition: margin-right 1s;
}

.card-title,
.card-text p {
  margin: 0px 0px 0px 2.93%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-title {
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
