//Couleurs princpales du site
$prColor: #9356DC;
$secColor: #FF79DA;
$terColor: #99E2D0;
$grad: linear-gradient(176deg, #ff79da, #9356dc 78px);
$anim1: 1s 200ms;
$anim2: 1s 400ms;
$anim3: 1s 600ms;
$anim4: 1s 800ms;
//Dégradé de couleurs
@mixin grad {
  background-color: linear-gradient(176deg, #ff79da, #9356dc 78px);
}
@mixin centerX {
    display: flex;
    justify-content: center;
}
@mixin centerXY {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin gradRound($grad) {
    background: $grad;
    border-radius: 25px;
}
//Animation check sur les cards de menu
@keyframes slidein {
  0% {
    transform: translateX(100%);

  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes box-animation {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heart-full {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1);
  }
  100% {
      transform: scale(1);
  }
}
//Régles générals , appliquées sur toute la pages

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  max-width: 100%;
  margin: 0 auto;
}
p {
  font-size: 16px;
  margin: 0;
}
a {
  text-decoration: none;
}
a:visited, p, h1, h2, h3 {
  color: black;
}
img {
  object-fit: cover;

  background-size: cover;
}
//Le header et position du logo
header {
  display: block;
  position: relative;
  border: solid 1px black;
}

header figure {
  @include centerX;
  margin: 0px 0 0 0;
  width: 100%;
  padding-bottom: 13px;
  padding-top: 23px;
}
.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 24px;
}
header img {
  width: 164px;
}
//main
.imgResto {
  margin: 0;
}
.imgResto img {
  position: absolute;
  top: 66px;
  width: 100%;
  height: 260px;
  z-index: 1;
}
.menu {
  position: absolute;
  top: 284px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  z-index: 2;
}
.menu .menu-title {
  margin-left: 4.8%;
  font-size: 30px;
  font-weight: 500;
  font-family: "Shrikhand";
} 
.title-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4.8%;
  margin-right: 4.8%;
}

.heartcase {
  position: relative;
  margin-right: 4.8%;
  @include centerXY;
}

.heart-empt{
  position: absolute;
  font-size: 25px;
  z-index: 1;
}
.heart-full {

  position: absolute;
  font-size: 25px;
  color: transparent;
  z-index: 2;
  opacity: 0;
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
    animation: fill 0.4s;
  }
}
.fa-circle-check {
 font-size: 20px;
 @include centerXY;
 height: 100%;
 width: 100%;
 color: white;
 overflow: hidden;
 transition: all 1s;
 
}
.card {
  word-wrap: break-word; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93.06%;
  height: 68px;
  background-color: white;
  margin-left: 3.47%;
  margin-bottom: 16px;
  box-shadow: 0px 5px 10px #bdbdbd;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: all 1s;
  &__delay1 {
    animation: box-animation $anim1;
    animation-fill-mode: both;
  }
  &__delay2 {
    animation: box-animation $anim2;
    animation-fill-mode: both;
  }
  &__delay3 {
    animation: box-animation $anim3;
    animation-fill-mode: both;
  }
  &__delay4 {
    animation: box-animation $anim4;
    animation-fill-mode: both;
  }
  &:hover {
    box-shadow: 0px 5px 10px #4d4d4d;
      & .check {
        margin-right: 0;  
      }
      & .fa-circle-check {
        transform: rotate(360deg);
      }
    }
  }

.card-text {
  min-width: 72.95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-valid {
  display: flex;
  align-items: flex-end;
}
.price {
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  margin: 0px 12px 0px 0px;
}
 .check {
  overflow: hidden;
  height: 100%;
  width: 60px;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
 }
.check {
  height: 100%;
  margin-right: -60px;
  transition: margin-right 1s;
}
.menu .box-title {
  font-size: 16px;
  padding-bottom: 5px;
  margin-left: 4.8%;
  margin-bottom: 15px;
  border-bottom: solid #99e2d0;
  width: 40px;
}
.card-title,
.card-text p {
  margin: 0px 0px 0px 2.93%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-title {
  font-size: 17px;
}
.btn {
  @include centerXY;
  @include gradRound($grad);
  margin: 50px auto 57px auto;
  width: 49.6%;
  height: 50px;
  border: unset;
  transition: all 400ms ease-in;
  box-shadow: 0px 0px 10px grey;
  opacity: (1);
  &:hover {
   opacity: (0.8);
   box-shadow: 0px 0px 20px grey;
   transform: scale(1.1);
   transition: all 400ms ease-out;
  }
}
.command {
  color: white;
}
//Footer et ses liens
footer {
  width: 100%;
  position: absolute;
  font-family: "Shrikhand";
  background-color: #353535;
  margin-top: 1500px;
}
footer p,
footer i,
footer h1 {
  color: white;
  font-size: 16px;
}
footer a {
  display: flex;
  margin-bottom: 8px;
}

footer h1 {
  font-size: 18px;
  font-weight: unset;
  padding: 22px 0px 5px 2.93%;
  margin: 0;
  font-weight: lighter;
}
footer p {
  font-weight: 400;
}
footer ul {
  list-style-type: none;
  padding-bottom: 26px;
  padding-left: 2.93%;
  font-family: "Roboto";
  margin: 16px 0 0px 0px;
}
footer i {
  font-size: 11px;
  padding: 5px 11px 0px 0px;
}
.fa-utensils {
  font-size: 11px;
  padding: 5px 13px 0px 2px;
}
