//Charmement de la page
.load {
    z-index: 1;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-animation: bg-load 3s forwards;
    animation: bg-load 3s forwards;
}

.loader {
    @include centerXY;
    margin: auto;
    border: 5px ridge transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: transparent;
    -webkit-animation: chargeur 2s ease-in-out;
    animation: chargeur 2s ease-in-out;

    &-pos1 {
        animation-delay: $delay-pos1;

    }

    &-pos2 {
        animation-delay: $delay-pos2;

    }

    &-pos3 {
        animation-delay: $delay-pos3;

    }

    &-pos4 {
        animation-delay: $delay-pos4;

    }
}

.location {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: linear-gradient(rgb(210, 210, 210) 1px, #eaeaea 5px);
}

.fa-location-dot {
    position: absolute;
    margin-right: 150px;
    top: 11px;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
}

//Section Explor
.secExplor {
    @include centerXY;
    flex-direction: column;
    background-color: #f6f6f6;

    & h1 {
        width: 62.5%;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        margin: 38px auto 12px auto;
    }

    & p {
        font-size: 18px;
        font-weight: 400;
        width: 81.60%;
        text-align: center;
        margin: 0px auto 0px;
    }


}

//Section: Fonctionnemment
.secFonction {
    &__title {
        font-size: 24px;
        font-size: 900;
        margin: 46px 0px 18px 5.33%;
    }
}

.boxFonction {
    @include centerXY;
    flex-direction: column;
    margin: 0px 5.33% 56px 5.33%;
}

//Apparence et position des cards acceuil
.secCards {
    background-color: #f6f6f6;
    width: 100%;
    height: 1200px;

    & a {
        position: relative;
        display: flex;
        justify-content: flex-end;
        box-shadow: $shadow-norm;
        margin: 0px 5.33% 18px 5.33%;
        border-radius: 25px;
        height: 251px;
        transition: all 200ms ease-out;

        &:hover {
            box-shadow: $shadow-hover;
            transition: all 200ms ease-out;
        }
    }

    & h2 {
        font-size: 24px;
        padding: 56px 0 24px 5.33%;
        margin-top: unset;
        margin-bottom: unset;
    }
}

.cardHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 251px;
    background-color: unset;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 18px;

    &__image {
        margin: 0;
        height: 174px;
    }

    & img {
        margin: 0;
        width: 100%;
        object-fit: cover;
        height: 174px;
        background-position: 4px 10px;
        border-radius: 15px 15px 0px 0px;
    }

    &__title {
        font-size: 18px;
        margin: 16px 0 0 14px;
    }

    &__text {
        font-size: 18px;
        margin: 3px 0 16px 14px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }
}

.news {
    position: absolute;
    @include centerXY;
    margin-top: 13px;
    margin-right: 13px;
    width: 81px;
    height: 29px;
    background: $terColor;
    z-index: 2;
    border-radius: 3px;

    &-text {
        font-size: 14px;
        font-weight: 800;
        color: #008766;
    }
}