//Section: Fonctionnemment

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5.33% 56px 5.33%;
}
.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
    position: absolute;
    font-size: 18px;
    margin: auto;
    padding: 30px 89.30% 30px 7.5%;
    width: 20px;
    color: #7e7e7e;
    &:hover {
        color: $prColor;
    }
}
.fa-mobile-screen-button {
padding-left: 8.1%;
}
.name_btn {
    padding: 0px 0px 0px 16.53%;
}

.box-btn {
    position: relative;
    display: flex;
    align-items: center;
    margin: 12px 0 12px 0px;
    padding: 0;
    color: black;
    border: transparent;
    width: 100%;
    height: 74px;
    background-color: #f6f6f6;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
    transition: all 200ms ease-in;
    &:hover {
        box-shadow: 0px 10px 10px rgb(184, 184, 184);
        background-color: #f5edff;
    }
    & .num1, .num2, .num3 {
        @include centerXY;
        font-weight: 100;
        position: absolute;
        left: -12px;
        height: 24px;
        width: 24px;
        font-size: 16px;
        color: white;
        border-radius: 50%;
        background-color: $prColor;
    }
} 
//boutton commander dans les  pages des menus
.btn__command {
    color: white;
  }
  .btn {
    @include centerXY;
    @include gradRound($grad);
    margin: 50px auto 57px auto;
    width: 49.6%;
    height: 50px;
    border: unset;
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;
    &:hover {
      animation: btn-transformation 400ms ease-in-out;
      animation-fill-mode: both;
    }
  }