*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
footer {
  font-family: "Shrikhand", sans-serif;
  & ul {
    font-family: "Roboto";
  }
}
